.useContainer {
  padding-top: 98px;
  margin-left: 190px;
  margin-bottom: 262px;
}

.usefulInfo {
  width: 350px;
  font-family: var(--main-font);
  text-align: left;
}

.usefulInfo:not(:last-child) {
  margin-bottom: 38px;
}

.title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 48px;
  font-weight: var(--bold);
  position: relative;
}

.title::after {
  display: block;
  width: 320px;
  height: 1px;
  background-color: var(--text-underline-color);
  opacity: 0.15;
  content: '';
  position: absolute;
  top: 52px;
  left: 0;
}

.list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;

  margin-left: 62px;
  font-weight: var(--medium);
}

.item {
  padding-left: 5px;
}

.itemLink {
  color: var(--primary-color-text);
}

.book {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .useContainer {
    padding-top: 120px;
    margin-left: 115px;
    margin-bottom: 416px;
  }
}

@media screen and (max-width: 767px) {
  .useContainer {
    padding-top: 40px;
    padding-right: 80px;
    margin: 0 auto;
    /* margin-left: 20px; */
    /* margin-bottom: 112px; */
  }

  .usefulInfo {
    width: 200px;
    margin: 0 auto;
  }

  .usefulInfo:not(:last-child) {
    margin-bottom: 30px;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 26px;
    width: 120px;
  }

  .title::after {
    width: 150px;
    top: 55px;
  }

  .list {
    font-size: 10px;
    line-height: 16px;
    margin-left: 10px;
  }
}
