.container {
  min-height: calc(100vh - 71px - 60px);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white-color);
  font-family: var(--main-font);
}

.heading {
  font-size: 22px;

  margin-bottom: 10px;

  color: var(--primary-color-text);
  font-weight: var(--extra-bold);

  line-height: 1.4;
  letter-spacing: 0.02em;
}

.testTitle {
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: var(--medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--primary-color-text);
}

.lineBreak {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 320px;
  height: 1px;
  background-color: #00122f;
  opacity: 0.15;
}

.resultsBar {
  margin-top: 20px;
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 1.25;
}

.breaker {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.15;
}

.catImage {
  display: block;
  margin: 20px auto 10px;
}

.resultsMessage {
  font-size: 20px;
  line-height: 1.2;
  font-weight: var(--medium);
  letter-spacing: 0.02em;
}

.button {
  display: block;
  width: 190px;
  height: 50px;
  margin: 30px auto 0 auto;
  padding: 17px 0 17px 0;
  background-color: var(--active-component-color);
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}

.button:hover {
  background-color: var(--inactive-component-color);
  font-weight: var(--medium);
}

@media screen and (max-width: 320px) {
  .container {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .heading {
    margin-bottom: 0;

    font-size: 12px;
    line-height: 2.5;
  }

  .testTitle {
    margin-bottom: 10px;

    font-size: 10px;
  }

  .lineBreak {
    margin-bottom: 10px;
    width: 130px;
  }

  .resultsBar {
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.2;
  }

  .breaker {
    margin-left: 10px;
    margin-right: 10px;
  }

  .catImage {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .resultsMessage {
    font-size: 10px;
    line-height: 1.2;
  }
  .button {
    margin: 20px auto 0 auto;
  }
}
