.bgImage {
  min-height: 724px;
  background-image: url('../img/materials-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bgImage {
    min-height: 900px;
    background-image: url('../img/materials-bg-tablet.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage {
    min-height: 510px;
    background-image: url('../img/materials-bg-mobile.jpg');
  }
}
