@import '../../assets/variables.css';

.form {
  display: flex;
  flex-direction: column;

  max-width: 280px;
  padding: 15px 20px 15px 20px;
  font-weight: var(--medium);
  font-family: var(--main-font);
  font-size: 10px;
  line-height: 1.21;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.account {
  margin-bottom: 15px;
  text-align: start;
}

.login {
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonGoogle {
  width: 159px;
  height: 51px;
  font-size: 14px;
  font-weight: var(--bold);
  text-transform: capitalize;
  border: none;

  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  background-color: var(--background-google-btn);
}

.authGoogle {
  padding: 17px 37px 16px 38px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--primary-color-text);
}

.icon {
  margin-right: 10px;
}

.input {
  border: 1px solid var(--border-form);
  width: 240px;
  height: 56px;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 14px;
  outline: none;
  box-shadow: inset 0 0 0 50px #fff;
}

.sign {
  width: 109px;
  height: 50px;
  padding: 20px 24px 20px 24px;
  font-size: 10px;
  font-weight: var(--bold);
  text-transform: uppercase;
  color: var(--primary-color-text);
  background-color: var(--white-color);
  border: 1px solid var(--border-form);
  outline: none;
}
.formLabel {
  display: flex;
  position: relative;
  /* margin-bottom: 20px; */
}
.eyeBtn {
  position: absolute;
  right: 10px;
  top: 25%;
  background: transparent;
  border: 0;
  outline: none;
}

.sign:hover,
.sign:focus {
  background-color: var(--active-component-color);
  color: var(--white-color);
}

.sign:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 539px;
    padding: 30px 57px 30px 57px;
    font-size: 14px;
  }

  .buttonGoogle {
    margin-right: 0;
    margin-left: 0;
  }

  .login {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
  }

  .input {
    width: 425px;
    margin-bottom: 20px;
  }

  .sign {
    width: 201px;
    padding: 20px 37px 18px 38px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    max-width: 505px;
    flex-direction: column;
    padding: 62px 40px 42px 42px;
  }

  .account {
    margin-bottom: 30px;
  }

  .login {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
  }

  .sign {
    height: 60px;
  }
}

@media screen and (max-width: 319px) {
  .form {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .sign:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
