:root {
  /*FONTS*/
  --main-font: 'Montserrat', sans-serif;

  /*FONTS WEIGHT*/
  --extra-bold: 800;
  --bold: 700;
  --medium: 500;
  --regular: 400;

  /*COLORS*/
  --background-color: #f5f6fb;
  --background-color-footer: #02172a;

  --logo-dark-color: #121d2e;

  --active-component-color: #ff6b09;
  --inactive-component-color: #02172a;

  --primary-color-text: #000000;
  --secondary-color-text: #555555;
  --white-color: #ffffff;
  --footer-color-text: rgba(255, 255, 255, 0.4);

  --secondary-color-button: #ece9e9;

  --header-lines: #e2e3e5;
  --text-underline-color: #00122f;

  --background-google-btn: #fafafa;
  --border-form: #ced2d1;
  --placeholder-color-text: #bbbbbb;

  --diagramm-incorrect: #d7d7d7;

  --shadow-color: rgba(2, 23, 42, 0.1);

  /*BREAKPOINTS*/
  --desktop: 1280px;
  --tablet: 768px;
  --mobile: 320px;
}
